<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuandian.app_common.mapper.UserMapper">

    <select id="findUserById" parameterType="string" resultType="UserEntity">
        select * from user where id = #{id}
    </select>

    <select id="findUserByName" parameterType="string" resultType="UserEntity">
        select * from user where name = #{name}
    </select>

    <delete id="deleteUserById" parameterType="string">
        delete from user where id = #{id}
    </delete>

    <insert id="insertUser2DB" parameterType="UserEntity">
        insert into user (id,name ,password,local,phone,createAt,updateAt)
                   value (#{id},#{name},#{password},#{local},#{phone},#{createAt},#{updateAt})
    </insert>

    <update id="updateUser" parameterType="com.zhuandian.app_common.pojo.UserEntity">
        update user set
            name = #{name} ,
            password = #{password},
            local = #{local},
            phone = #{phone},
            createAt=#{createAt} ,
            updateAt = #{updateAt}
        where id = #{id}
    </update>

</mapper>
